/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling for project is below */

body {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: solid #3882F6;
    border-radius: 5px;
}

footer,
header,
section.block-1 {
    background-color: #1F2937;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

a {
    color: #E5E7EB;
    font-size: 1em;
    text-decoration: none;
}

a:hover {
    color: #3882F6;
}

.header img {
    width: 20%;
    margin-top: 1%;
}

/* Block 1 Styles */

section.block-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-1 div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

div.left-1 {
    padding-left: 5%;
    padding-bottom: 2%
}

div.right-1 {
    padding: 5%;
}

.block-1 h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 2%;
}

.block-1 img {
    width: 90%;
    padding: 5%;
}

/* Block 2 Styles */

section.block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1F2937;
    padding: 2%;
}

.block-2 h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding-top: 2%;
}

div.block-2-bot {
    display: flex;
    gap: 10px;
    padding: 5%;
}

.block-2 figure {
    width: 25%;
}
.block-2 figcaption {
    text-align: center;
}

.block-2-bot img {
    border: solid #3882F6;
    border-radius: 10%;
    width: 90%;
}
/* Block 3 Styles */

section.block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 5% 10%;
}

.block-3 p {
    font-size: 18px;
    font-style: italic;
}

.block-3 span {
    align-self: flex-end;
}

/* Block 4 Styles */

section.block-4 {
    background-color: #F9FAF8;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
}

section.block-4-in {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    border: solid #3882F6;
    border-radius: 10px;
    padding: 5%;
}

.left-div-4 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.left-div-4 h5 {
    font-weight: bold;
    padding-bottom: 2%;
}

.block-4 button {
    border-color: #E5E7EB;
}

/* Footer Styles */

footer {
    text-align: center;
    padding: 2%;
}